# Literals

Literal adalah data yang mempresentasikan dari nilai itu sendiri. Apabila dicontohkan yaitu:

123

Digit di atas akan direpresentasikan sebagai seratus dua puluh tiga, data tersebut dapat merepresentasikan nilai itu sendiri sehingga bisa disebut sebagai literals.

r

huruf r di atas bisa direpresentasikan sebagai huruf r, tetapi huruf r tersebut juga bisa direpresentasikan sebagai simbol dari jari-jari dalam matematika. Sehingga hruf r di atas tidak bisa disebut sebagai literals.

Sampai saat ini terdapat dua tipe literal yang berbeda:

- String
- Numeric

Seperti yang telah diketahui string dalam python harus diapit oleh tanda kutip, sedangkan numeric adalah berupa bilangan angka. Perhatikan contoh di bawah ini:

In [1]:
print("2")
print(2)

2
2

Dari fungsi print() di atas keduanya mengasilkan output yang sama. Namun sebenarnya kedua output tersebut adalah berbeda. Pada fungsi print() yang pertama walaupun menghasilkan output angka 2(dua) tetapi python akan merepresentasikannya sebagai string literals karena angka dua pada argumen tersebut diapit oleh tanda kutip.
Selanjutnya pada fungsi print() yang kedua akan direpresentasikan sebagai numeric literals oleh python.

In [3]:
print(type("2"))
print(type(2))

<class 'str'>
<class 'int'>

## Integer

Integer adalah angka bilangan bulat.

In [8]:
print(234)

234

In [14]:
type(234)

int

In [4]:
print(1000000)

1000000

In [5]:
print(1_000_000)

1000000

Jika integer didahului oleh karakter 0O atau 0o, maka akan diperlakukan sebagai nilai oktal.

In [3]:
print(0o234)

156

In [12]:
type(0o234)

int

Jika integer didahului oleh karakter 0X atau 0x, maka akan diperlakukan sebagai nilai hexadesimal.

In [7]:
print(0x234)

564

In [13]:
type(0x234)

int

## Float

Float adalah angka bilangan pecahan. Untuk membuat bilangan pecahan harus menggunakan titik dan bukan koma.

In [9]:
print(10.5)

10.5

In [10]:
type(10.5)

float

In [15]:
print(0.5)

0.5

In [16]:
print(.5)

0.5

### Scientific Notation

Untuk membuat float juga bisa menggunakan huruf E atau e

In [17]:
print(1e6)

1000000.0

In [18]:
type(1E6)

float

In [ ]:
Huruf E atau e berasal dari kata exponensial

Note:
    
    - Nilai setelah huruf E harus integer
    - Nilai sebelum huruf E tidak harus integer

In [19]:
print(1.5E6)

1500000.0

In [22]:
print(-1.5E6)

-1500000.0

In [24]:
print(0.0000000000000000000001)

1e-22

## String

String digunakan ketika akan memproses data teks. Untuk membuat string, teks harus diapit oleh tanda kutip (bisa kutip satu atau kutip dua).

In [25]:
print("hello")

hello

In [26]:
print('hi')

hi

Apabila ingin membuat teks dengan tanda kutip bisa dilakukan dengan cara berikut ini:

In [27]:
print("hello, 'my name is python'")

hello, 'my name is python'

In [28]:
print('hello, "my name is python"')

hello, "my name is python"

In [29]:
print("hello, \"my name is python\"")

hello, "my name is python"

In [30]:
print('hello, \'my name is python\'')

hello, 'my name is python'

Sebuah string bisa bernilai kosong misalnya seperti ini:

In [31]:
print("")

In [33]:
print('')

In [34]:
type('')

str

Jika ingin membuat string langsung beberapa baris bisa menggunakan tanda kutip sebanyak tiga kali.

In [35]:
print("""hello
my name is
python""")

hello
my name is
python

In [36]:
print('''hello
my name is
python''')

hello
my name is
python

In [45]:
print("""
\"I'm\"
\"\"learning\"\"
\"\"\"Python\"\"\"
""")

"I'm"
""learning""
"""Python"""

## Boolean

Boolean literal hanya menggunakan dua nilai yang berbeda yaitu <b>True</b> dan <b>False</b>. True bisa disimbolkan dengan angka 1, dan False bisa disimbolkan dengan angka 0.

In [37]:
print(5 > 1)

True

In [38]:
type(5 > 1)

bool

In [39]:
print(100 > 1000)

False

In [40]:
print(2 == "2")

False

In [41]:
print( 2 == 2)

True

In [42]:
print(True == 1)

True

In [43]:
print(False == 0)

True

In [44]:
print(True > False)

True

## NoneType

None merupakan literal khusus yang digunakan oleh python untuk merepresentasikan ketidakadaan suatu nilai.

In [46]:
print(None)

None

In [47]:
print(type(None))

<class 'NoneType'>