# Variables

Apabila kita ingin menyimpan suatu nilai yang akan dgunakan kembali maka nilai tersebut bisa dimasukan ke dalam variabel. Setiap variabel memiliki nama dan penamaan variabel harus mengikuti aturan penamaan variabel di dalam bahasa pemrograman python seperti berikut ini:

the name of the variable must be composed of upper-case or lower-case letters, digits, and the character _ (underscore)

- Nama variabel harus tersusun dari huruf besar atau huruf kecil, angka, dan karakter undrscore
- Nama variabel harus dimulai dengan huruf
- Karakter underscore adalah huruf
- Huruf besar dan huruf kecil dianggap berbeda, misalnya variabel dengan nama name dengan Name adalah dua variabel yang berbeda
- Nama variabel tidak boleh nama-nama yang sudah dipakai oleh python

Pembuatan variabel sangat mudah, hanay dengan menggunakan nama yang diinginkan dengan tetap menyesuaikan aturan dalam pembuatan nama variabel yang telah disebutkan di atas kemudian tanda sama dengan dan setelah itu nilai yang akan disimpan ke dalam variabel tersebut. Nilai yang dapat dimasukan ke dalam variabel bisa apa saja.

In [2]:
nama = "Muhlis"

In [3]:
Nama = "Adiwiguna"

In [5]:
_nama = "gugun"

In [6]:
nama1 = "budi"

In [8]:
1nama = "andi" # error karena nama variabel diawali oleh angka

SyntaxError: invalid syntax (<ipython-input-8-f0b0a1759771>, line 1)

In [9]:
python_reserved_keyword = ['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [11]:
class = "A" # error karena class adalah salah satu nama yang sudah digunakan oleh python

SyntaxError: invalid syntax (<ipython-input-11-ab5124b1512d>, line 1)

In [12]:
Class = "A"

## Menggunakan Variabel

Variabel bisa digunakan ketika variabel tersebut sudah dibuat, apabila variabel digunakan sebelum dibuat maka akan menyebabkan error.

In [13]:
name = "John"
print(name)

John

In [14]:
print(Name) # error karena variabel Name belum dibuat

NameError: name 'Name' is not defined

## Menggabungkan Variabel dengan teks

Variabel bisa digabungkan dengan teks seperti contoh berikut ini:

In [15]:
print("hello my name is " + name)

hello my name is John

## Menetepakan Nilai Baru ke dalam Variabel yang Sudah Ada

In [17]:
first_name = "muhlis"
first_name = "adiwiguna"
print(first_name) # nilai muhlis pada variabel first_name akan digantikan oleh adiwiguna

adiwiguna

In [18]:
name = "Muhlis"
name = name + "Adiwiguna"
print(name)

MuhlisAdiwiguna

In [21]:
var = 5
var = var + 5
print(var)

10

### Shortcut Operator

Berikut ini adalah daftar shortcut operator untuk assignment suatu variabel

<table style="width: 50%">
    <tr>
        <th style="text-align: left">Operator</th>
        <th style="text-align: left">Shorthand</th>
        <th style="text-align: left">Expression</th>
    </tr>
    <tr>
        <td style="text-align: left">+=</td>
        <td style="text-align: left">x += y</td>
        <td style="text-align: left">x = x + y</td>
    </tr>
    <tr>
        <td style="text-align: left">-=</td>
        <td style="text-align: left">x -= y</td>
        <td style="text-align: left">x = x - y</td>
    </tr>
    <tr>
        <td style="text-align: left">*=</td>
        <td style="text-align: left">x *= y</td>
        <td style="text-align: left">x = x * y</td>
    </tr>
    <tr>
        <td style="text-align: left">/=</td>
        <td style="text-align: left">x /= y</td>
        <td style="text-align: left">x = x / y</td>
    </tr>
    <tr>
        <td style="text-align: left">%=</td>
        <td style="text-align: left">x %= y</td>
        <td style="text-align: left">x = x % y</td>
    </tr>
    <tr>
        <td style="text-align: left">**=</td>
        <td style="text-align: left">x **= y</td>
        <td style="text-align: left">x = x ** y</td>
    </tr>
    <tr>
        <td style="text-align: left">//=</td>
        <td style="text-align: left">x //= y</td>
        <td style="text-align: left">x = x // y</td>
    </tr>
</table>

In [22]:
x1 = 5
x1 = x1 + 5
print(x1)

10

In [23]:
x2 = 5
x2 += 5
print(x2)

10

In [24]:
y1 = 2
y1 = y1 ** 3
print(y1)

8

In [25]:
y2 = 2
y2 **= 3
print(y2)

8

In [26]:
z1 = 5
z1 = (z1 + 2) * 10
print(z1)

70

In [34]:
z2 = 5
z2 += 2 * 10
print(z2)

25

In [35]:
z3 = 5
z3 = z3 * 10 + 50
print(z3)

100

In [36]:
z4 = 5
z4 *= 10 + 50
print(z4)

300

pada contoh variabel z3, urutan operasi pengerjaan assignment yaitu pertama yaitu z3 akan dikalikan 10 terlebih dahulu karena akan mengikuti sesuai prioritas pada operator selanjutnya baru hasilnya dijumlahkan dengan 50. Berbeda dengan contoh variabel z4, contoh tersebut menggunakan shortcut operator sehingga pengurutan pengerjaannya yaitu pertama operasi yang ada di sebelah kanan terlebih dahulu baru kemudian hasilnya akan digunakan untuk operasi dari shortcut operator tersebut.

In [39]:
z5 = 2
z5 = z5 ** 5 + 8
print(z5)

40

In [41]:
z6 = 2
z6 **= 5 + 8
print(z6)

8192